<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\filtro_ar.jpg" style="min-width:100%; max-width:100%; min-height:100%; max-height:100%;"/>
    <ion-card-header>
      <ion-card-title>Troca de filtro de ar</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O que é: Substituição do filtro de ar do motor.
      <br>Recomendação: A cada 12.000 a 24.000 quilômetros, ou conforme recomendado pelo fabricante. Um filtro de ar limpo é crucial para o desempenho eficiente do motor.

    </ion-card-content>
  </ion-card>



</ion-content>