<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">

      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    
    <ion-title color="light">Meus Veículos</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col size="7"><img src="assets\images\meusveiculos.png"></ion-col>
      <ion-col size="2"><img src="assets\images\load.png"></ion-col>
    </ion-row>

  </ion-grid>
  
  
  
  <ion-list>

    <ion-button id="BT_01" color="tertiary" size="small" position="center" disabled="true" (click)="getStorage()">Dados do veículo</ion-button>

    <ion-item>

      <ion-label position="floating">PLACA</ion-label>
      <ion-input type="text" [(ngModel)]="car01placa" [(ngModel)]="car01.placa" placeholder="ABC1234" clearInput="true"
        maxlength="7"></ion-input>

      <ion-label position="floating">MARCA</ion-label>
      <ion-input type="text" [(ngModel)]="car01marca" [(ngModel)]="car01.marca" placeholder="CHEVROLET"
        clearInput="true" maxlength="15"></ion-input>

      <ion-label position="floating">MODELO</ion-label>
      <ion-input type="text" [(ngModel)]="car01modelo" [(ngModel)]="car01.modelo" placeholder="CELTA" clearInput="true"
        maxlength="15"></ion-input>

      <ion-label position="floating">ANO</ion-label>
      <ion-input type="tel" [(ngModel)]="car01ano" [(ngModel)]="car01.ano" placeholder="2005" clearInput="true"
        maxlength="4"></ion-input>

      <ion-label position="floating">KM ATUAL</ion-label>
      <ion-input type="tel" [(ngModel)]="car01km" [(ngModel)]="car01.km" placeholder="140000" clearInput="true"
        maxlength="6"></ion-input>

    </ion-item>

  </ion-list>

  <ion-card color="success">
    <ion-card-content>
      <ion-button color="light" fill="clear" (click)="setStorage()" size="full">Salvar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>

  