
<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card color="dark">
    
      <ion-card-content>
        
        <ion-button color="light" fill="clear" size="full">Notificações</ion-button>
        <ion-button color="light" fill="clear" size="full">Privacidade</ion-button>
        <ion-button color="light" fill="clear" size="full">Conta</ion-button>
        <ion-button color="light" fill="clear" size="full">Ajuda</ion-button>
        <ion-button color="light" fill="clear" size="full">Sobre</ion-button>
       
      </ion-card-content>
    </ion-card>

  <ion-button size="full" color="danger">Sair</ion-button>
  
</ion-content>
