
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title color="light">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-card color="primary">
      <ion-card-content>
        
        <ion-button color="light" fill="clear" size="full">Minha conta</ion-button>
        <ion-button color="light" fill="clear" size="full">Preferências</ion-button>
        <ion-button color="light" fill="clear" size="full">Ajuda</ion-button>
        <ion-button color="light" fill="clear" size="full">Sobre o Car-E</ion-button>
       
      </ion-card-content>
    </ion-card>
</ion-content>
