ion-title {
    font-family:balsamiq;
}

ion-button[color="danger"]{
    text-transform: initial;
    font-family:balsamiq;
}

ion-content {
    background-image: url('/assets/images/background02.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family:balsamiq;
    
}

ion-button{
    margin: 10px;
    font-family:balsamiq;
}

ion-content::part(background){
    opacity: 0.0;
}