<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\fluido_radiador.jpg" style="min-width:100%; max-width:100%; min-height:100%; max-height:100%;"/>
    <ion-card-header>
      <ion-card-title>Troca de fluido de arrefecimento</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O que é: A troca do fluido de arrefecimento, também conhecido como líquido de arrefecimento ou anticongelante, é uma parte importante da manutenção do veículo. Este líquido é responsável por manter a temperatura do motor dentro dos limites adequados, evitando superaquecimento.
      <br>Recomedação: Trocar o fluido de arrefecimento de acordo com as orientações do fabricante do veículo. Isso pode variar, mas geralmente está na faixa de 40.000 a 100.000 quilômetros ou a cada 2 a 5 anos.
      Utilize o tipo de fluido de arrefecimento recomendado pelo fabricante do veículo. Pode haver diferentes formulações para diferentes motores e sistemas de resfriamento.
    </ion-card-content>
  </ion-card>



</ion-content>