<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\fluido_transmissao.jpg" style="min-width:100%; max-width:100%; min-height:100%; max-height:100%;"/>
    <ion-card-header>
      <ion-card-title>Troca de fluido de transmissão</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O que é: Substituição do fluido da transmissão.
      <br>Recomendação: A cada 50.000 a 100.000 quilômetros, dependendo do tipo de transmissão e das instruções do fabricante. Fluidos de transmissão limpos ajudam a prolongar a vida útil da transmissão.
    </ion-card-content>
  </ion-card>



</ion-content>