
<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">Exact</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item counter="true">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item counter="true">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button color="danger" fill="clear" size="full">Esqueci email ou senha</ion-button>
        <ion-button color="danger" size="full">Login</ion-button>
        <ion-button color="danger" fill="clear" size="full">Cadastre-se</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
