<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Idade</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirme a senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        
    </ion-card-content>
</ion-card>
<ion-button size="full" color="danger">Cadastrar</ion-button>
</ion-content>

