<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\oleo_motor.jpg" />
    <ion-card-header>
      <ion-card-title>Troca de óleo do motor</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O óleo do motor deve ser trocado de acordo com as recomendações do fabricante do veículo, geralmente a cada 5.000
      a 7.500 quilômetros. Isso ajuda a manter o motor lubrificado e funcionando corretamente.
    </ion-card-content>
  </ion-card>



</ion-content>