<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Meus Veículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

   
 
    <ion-card color="tertiary">
      <ion-card-content>
        <ion-button color="light" fill="clear" size="full" href="/car01"> 01. {{car01.modelo}} </ion-button>
      </ion-card-content>
    </ion-card>
    

    <ion-button id="BT_04" color="tertiary" size="small" position="center" disabled="true" (click)="getStorage()"></ion-button>


     
    
    

</ion-content>
