<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Meus Veículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car01"><img src= "assets\images\meusveiculos.png"></a></ion-col>
        <ion-col size="2"><img src= "assets\images\trash.png"></ion-col>
      </ion-row>
    
    </ion-grid>
 
    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car02"><img src= "assets\images\meusveiculos.png"></a></ion-col>
        <ion-col size="2"><img src= "assets\images\trash.png"></ion-col>
      </ion-row>
    
    </ion-grid>   
    
    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car03"><img src= "assets\images\meusveiculos.png"></a></ion-col>
        <ion-col size="2"><img src= "assets\images\trash.png"></ion-col>
      </ion-row>
    
    </ion-grid> 

</ion-content>
