<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/meusveiculos"><img src= "assets\images\meusveiculos_blue.png"></a></ion-col>
        
      </ion-row>
      <ion-row class="ion-justify-content-center">
        
        <ion-col size="7"><a href="/historico"><img src= "assets\images\historico_blue.png"></a></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/dicas"><img src= "assets\images\dicas_blue.png"></a></ion-col>
        
      </ion-row>
    </ion-grid>

    
  

</ion-content>
