<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg"/>        
      </ion-avatar>
      <ion-label>
        <h1>Ayrton Fittipaldi</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
