ion-content {
    --background: var(--ion-background-color, #27557C);
    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      
        //background-color: rgb(14, 130, 231);
        //border: solid 1px #ffffff;
        //color: #e61d1d;
      }

}

ion-list {
    padding: 0;
}

