<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Car-E</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"><a href="/config"><img src= "assets\images\fotowide.png"></a></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"><a href="/config"><img src= "assets\images\meusveiculos.png"></a></ion-col>
        <ion-col size="5"><a href="/config"><img src= "assets\images\historico.png"></a></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"><a href="/config"><img src= "assets\images\proximasmanutencoes.png"></a></ion-col>
        <ion-col size="5"><a href="/config"><img src= "assets\images\notificacoes.png"></a></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"><a href="/config"><img src= "assets\images\dicas.png"></a></ion-col>
        <ion-col size="5"><a href="/config"><img src= "assets\images\configuracoes.png"></a></ion-col>
      </ion-row>
    </ion-grid>
  

</ion-content>
