<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car01replist"><img src= "assets\images\car01.jpg"></a></ion-col>
      </ion-row>
    
    </ion-grid>
 
    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car02replist"><img src= "assets\images\meusveiculos.png"></a></ion-col>
      </ion-row>
    
    </ion-grid>   
    
    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="7"><a href="/car03replist"><img src= "assets\images\meusveiculos.png"></a></ion-col>
      </ion-row>
    
    </ion-grid> 

</ion-content>

