<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\alinhamento.jpg" style="min-width:100%; max-width:100%; min-height:100%; max-height:100%;"/>
    <ion-card-header>
      <ion-card-title>Alinhamento e balanceamento de rodas</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O que é: Ajuste da geometria das rodas e equilíbrio dos pneus.
      <br>Recomendação: Pelo menos uma vez por ano ou sempre que ocorrer um impacto significativo. Mantém a estabilidade do veículo e prolonga a vida útil dos pneus.
    </ion-card-content>
  </ion-card>



</ion-content>