<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

  </ion-grid>
  <ion-button id="BT_03" color="tertiary" size="full" disabled="false" (click)="getStorage()">Lista de manutenções do {{car01.modelo}}</ion-button>
  <ion-card color="primary">
    
    <ion-card-content>
      
      <ion-button color="light" fill="clear" size="full" href="/car01newrep" >01 - {{c01r01.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep02">02 - {{c01r02.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep03">03 - {{c01r03.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep04">04 - {{c01r04.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep05">05 - {{c01r05.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep06">06 - {{c01r06.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep07">07 - {{c01r07.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep08">08 - {{c01r08.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep09">09 - {{c01r09.tipo}}</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/car01rep10">10 - {{c01r10.tipo}}</ion-button>
      
    </ion-card-content>
  </ion-card>

</ion-content>