<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button>

    </ion-menu-button> 
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-grid>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size="5"><img src= "assets\images\dicas.png"></ion-col>
      </ion-row>
    
    </ion-grid>

    <ion-button size="small" color="tertiary" (click)="setStorage()">Set storage data</ion-button>
    <ion-button size="small" color="tertiary" (click)="getStorage()">Get storage data</ion-button>
    <ion-button size="small" color="tertiary" (click)="updateStorage()">Update storage data</ion-button>
    <ion-button size="small" color="tertiary" (click)="deleteFromStorage()">Delete storage data</ion-button>
    <ion-button size="small" color="tertiary" (click)="clearStorage()">Clear storage data</ion-button>
    
    <ion-item>

      Placa : {{ car01.placa}}
      Marca : {{ car01.marca}}
      Modelo : {{ car01.modelo}}
      Ano : {{ car01.ano}}
      KM : {{ car01.km}}
      
   </ion-item>

</ion-content>