<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card color="primary">

    <ion-card-content>

      <ion-button color="light" fill="clear" size="full" href="/dica01">Troca de óleo do motor</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de filtro de óleo</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de filtro de ar</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de filtro de combustível</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de fluido de transmissão</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de fluido de freio</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de fluido de arrefecimento</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Verificação e troca de correias</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Troca de velas de ignição</ion-button>
      <ion-button color="light" fill="clear" size="full" href="/meusveiculos">Alinhamento e balanceamento de rodas</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>