<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets\images\fluido_freio.jpg" style="min-width:100%; max-width:100%; min-height:100%; max-height:100%;"/>
    <ion-card-header>
      <ion-card-title>Troca de fluido de freio</ion-card-title>
           </ion-card-header>

    <ion-card-content>
      O que é: A troca do fluido de freio envolve a remoção do fluido de freio antigo do sistema e a substituição por fluido novo e limpo. Isso ajuda a manter o sistema de freios eficiente e confiável.
      <br>Recomendação: Trocar o fluido de freio a cada 2 anos, ou conforme as instruções do fabricante do veículo. Alguns fabricantes podem ter intervalos diferentes, por isso, consulte o manual do proprietário. Utilize o tipo de fluido de freio recomendado pelo fabricante do veículo. Geralmente, são usados fluidos DOT 3, DOT 4 ou DOT 5. Consulte as especificações do veículo para determinar o tipo adequado.
    </ion-card-content>
  </ion-card>



</ion-content>